# Результаты сборки
**/[Bb]in/
**/[Oo]bj/

# Файлы IDE
**/.vs/
.vscode/
*.user
*.suo
*.userprefs

# Пакеты NuGet
packages/
*.nupkg
.nuget/

# Временные файлы
*.tmp
*.temp
*.bak
*.swp

# Mac/Windows служебные файлы
.DS_Store
Thumbs.db